/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.page-loader{
  width: 100%;
  text-align: center;
}
#loader{
  font-size:4em;
}